.paddin{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: dodgerblue;
}

ion-item{
    --background: transparent;
}

ion-button{
    background-color: lightgreen;
}